@CHARSET "UTF-8";

body{color:#801515;
    background:#FFAAAA;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;}

head{color:#AA3939;}

h1{ color:#801515;
     background-image:url(/CSD120/images/gradient.png);
     background-repeat: repeat-x;
     font-family: 'Domine', serif;
     font-family: 'Montserrat', sans-serif;}
h2{ color:#401515;
     background-image:url(/CSD120/images/gradient.png);
     background-repeat: repeat-x;
     font-family: 'Domine', serif;
     font-family: 'Montserrat', sans-serif;}

a{ color:#AA3939;}

ul li { list-style-type: square;}

     
header{  color:#550000;}
     
byline {color:#000000;
        font-size: 70%;}

Bio {text-indent: 3em;}

footer {text-align: center;
        font-size: 12px; }
     
#page_copyright{ color:#E6E6FA;
                 text-transform: uppercase;
                 letter-spacing: 3px;}

