@CHARSET "UTF-8";

body{color:#2925FF;
    background:#FFAAAA}

head{color:#AA3939;}

h1{ color:#801515;}

h2{ color:#801515;}

a{ color:#AA3939;}
     
header{  color:#550000;}
     
byline {  color:#000000;}
     
#page_copyright{ color:#E6E6FA;}
